# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
dist/
build/

# Environment
.env
.env.prod

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.deploy/
.ruff_cache/
htmlcov/
.coverage

# Ignore vscode AI rules
.github/instructions/codacy.instructions.md
